[submodule "emacs.d/vendor/evil-rebellion"]
	path = emacs.d/vendor/evil-rebellion
	url = https://github.com/tarleb/evil-rebellion.git
[submodule "emacs.d/vendor/helm-lacarte"]
	path = emacs.d/vendor/helm-lacarte
	url = https://github.com/emacs-helm/helm-lacarte.git
	branch = master
